{% extends 'base.html.twig' %}

{% block title %}Editar Empleados{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('style') }}
    <style>
    
    </style>
{% endblock %}

{% block body %}
<div class="style-container">
  <div id="style-checkout1">
    <h1>Editar Empleados</h1>

        {{ include('empleados/_delete_form.html.twig') }}
        <button id="style-button" class="btn btn-block btn-success submit-button" type="submit">
            <a href="{{ path('app_empleados_index') }}">Volver Lista</a>
        </button>
    <form class="style-form" action="submit">
    <img class="imagen" src="{{ asset('build/images/trabajador.jpg') }}" alt="trabajador">
    {{ include('empleados/_form.html.twig', {'button_label': 'Actualizar'}) }}




        

    
    </form>
{% endblock %}
