{{ form_start(form) }}
    {{ form_widget(form) }}
    <button id="mantenimiento-button" class="btn btn-block btn-success submit-button" type="submit">{{ button_label|default('Guardar') }}</button>
    <br>
    <img class="imagentaller" src="{{ asset('images/taller.jpg') }}" alt="Symfony!" />
{{ form_end(form) }}