{% extends 'base.html.twig' %}

{% block title %}Editar Registro{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('style') }}
    <style>
    
    </style>
{% endblock %}

{% block body %}
<div class="style-container">
  <div id="style-checkout1">
    <h1>Editar Registro</h1>

    {{ include('control/_delete_form.html.twig') }}
    <button id="style-button" class="btn btn-block btn-success submit-button" type="submit">
            <a href="{{ path('app_control_index') }}">Volver Lista</a>
        </button>
    <form class="style-form" action="submit">
         <img class="imagen" src="{{ asset('images/taller.jpg') }}" alt="taller">
        <br>
        <br>
        {{ include('control/_form.html.twig', {'button_label': 'Actualizar'}) }}

        
     </form>
    </div>
</div>

{% endblock %}