{% extends 'base.html.twig' %}

{% block title %}Editar Registro{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('control') }}
    <style>
    
    </style>
{% endblock %}

{% block body %}
<div class="mantenimiento-container">
  <div id="mantenimiento-checkout1">
    <h1>Editar Registro</h1>

    <form class="mantenimiento-form" action="submit">
        {{ include('control/_form.html.twig', {'button_label': 'Actualizar'}) }}
        <br>
        <br>

        <button id="mantenimiento-button" class="btn btn-block btn-success submit-button" type="submit">
            <a href="{{ path('app_control_index') }}">Volver Lista</a>
        </button>

        {{ include('control/_delete_form.html.twig') }}
     </form>
    </div>
</div>

{% endblock %}