{% extends 'base.html.twig' %}

{% block title %}Mantenimiento{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('style') }}
    <style>

    </style>
{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
<div class="style-container">
    <div id="style-checkout1">
        <h1>Mantenimiento</h1>

        <form class="style-form" action="submit">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre_Taller</th>
                        <th>Numero_Factura</th>
                        <th>Precio_Factura</th>
                        <th>Multas</th>
                        <th>Numero_Multas</th>
                        <th>Cantidad_Multas</th>
                        <th>Equipamiento</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for control in controls %}
                    <tr>
                        <td>{{ control.id }}</td>
                        <td>{{ control.NombreTaller }}</td>
                        <td>{{ control.NumeroFactura }}</td>
                        <td>{{ control.PrecioFactura }}</td>
                        <td>{{ control.Multas }}</td>
                        <td>{{ control.NumeroMultas }}</td>
                        <td>{{ control.CantidadMultas }}</td>
                        <td>{{ control.Equipamiento }}</td>
                        <td>

                        <button id="style-buttonindex" class="btn btn-block btn-success submit-button" type="submit">
                            <a href="{{ path('app_control_show', {'id': control.id}) }}">Mostrar</a>
                        </button>
                        <button id="style-buttonindex" class="btn btn-block btn-success submit-button" type="submit">
                            <a href="{{ path('app_control_edit', {'id': control.id}) }}">Editar</a>
                        </button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Resultados no encontrados</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <button id="style-button" class="btn btn-block btn-success submit-button" type="submit">
                <a href="{{ path('app_control_new') }}">Crear Nuevo</a>
            </button>
        </form>
    </div>
    
</div

{% endblock %}