{% extends 'base.html.twig' %}

{% block title %}Coches{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('style') }}
    <style>

    </style>
{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
<div class="style-container">
  <div id="style-checkout1">
    <h1>Coches</h1>

        <form class="style-form" action="submit">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ coch.id }}</td>
                        </tr>
                        <tr>
                            <th>Marca</th>
                            <td>{{ coch.Marca }}</td>
                        </tr>
                        <tr>
                            <th>Modelo</th>
                            <td>{{ coch.Modelo }}</td>
                        </tr>
                        <tr>
                            <th>Color</th>
                            <td>{{ coch.Color }}</td>
                        </tr>
                        <tr>
                            <th>Numero_Bastidor</th>
                            <td>{{ coch.NumeroBastidor }}</td>
                        </tr>
                        <tr>
                            <th>Fecha_ITV</th>
                            <td>{{ coch.FechaITV ? coch.FechaITV|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Fecha_Matriculacion</th>
                            <td>{{ coch.FechaMatriculacion ? coch.FechaMatriculacion|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Matricula</th>
                            <td>{{ coch.Matricula }}</td>
                        </tr>
                        
                    </tbody>
                </table>

                <button id="style-button" class="btn btn-block btn-success submit-button" type="submit">
                    <a href="{{ path('app_coches_index') }}">Volver Lista</a>
                </button>

                <button id="style-button" class="btn btn-block btn-success submit-button" type="submit">
                    <a href="{{ path('app_coches_edit', {'id': coch.id}) }}">Editar</a>
                </button>
                {{ include('coches/_delete_form.html.twig') }}
        </form>
    </div> 
</div>

    
{% endblock %}