{% extends 'base.html.twig' %}

{% block title %}Incidencia{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('incidencia') }}
    <style>

    </style>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
<div class="incidencia-container">
    <div id="incidencia-checkout">
        <h1>Incidencia</h1>
    
        <form class="incidencia-form" action="submit">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Departamento</th>
                        <th>Descripcion</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for incidencium in incidencias %}
                    <tr>
                        <td>{{ incidencium.id }}</td>
                        <td>{{ incidencium.Nombre }}</td>
                        <td>{{ incidencium.Apellidos }}</td>
                        <td>{{ incidencium.Departamento }}</td>
                        <td>{{ incidencium.Descripcion }}</td>
                        <td>

                        <button id="incidencia-buttonindex" class="btn btn-block btn-success submit-button" type="submit">
                            <a href="{{ path('app_incidencias_show', {'id': incidencium.id}) }}">Mostrar</a>
                        </button>
                        <button id="incidencia-buttonindex" class="btn btn-block btn-success submit-button" type="submit">
                            <a href="{{ path('app_incidencias_edit', {'id': incidencium.id}) }}">Editar</a>
                        </button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No se encontraron resultados</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button id="incidencia-button" class="btn btn-block btn-success submit-button" type="submit">
                <a href="{{ path('app_incidencias_new') }}">Crear Nuevo</a>
            </button>
        </form>
    </div>
    
</div>
{% endblock %}