{% extends 'base.html.twig' %}

{% block title %}Nueva Incidencia{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('style') }}
    <style>

    </style>
{% endblock %}

{% block body %}
<div class="style-container">
  <div id="style-checkout1">
        <h1>Crear Nueva Incidencia</h1>

        <form class="style-form" action="submit">
            <button id="style-button" class="btn btn-block btn-success submit-button" type="submit">
                <a href="{{ path('app_incidencias_index') }}">Volver Lista</a>
            </button>
            <img class="imagen" src="{{ asset('images/incidencia1.jpg') }}" alt="incidencia">
            <br>
            <br>
            <br>
            <br>
            {{ include('incidencias/_form.html.twig') }}   
        </form>
    </div>
    
</div>
{% endblock %}